/* Media query selector
 * @param $break-size size of media query breakpoint, defaults to medium
 */
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.mobile, .activity, .settings, .daily, .members, .message, .social, .traffic {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  grid-column: 1 / span 2; }

.mobile, .activity, .settings, .daily, .members, .message, .social {
  border-top: 1px solid #d2d3ea; }

@media (min-width: 768px) {
  .mobile, .activity, .settings {
    grid-column: 2 / span 1; } }

.daily, .members, .message {
  border-top: 1px solid #d2d3ea; }
  @media (min-width: 768px) {
    .daily, .members, .message {
      grid-column: 1 / span 1;
      border-right: 1px solid #d2d3ea; } }

.traffic-nav-link.active, .traffic-nav-link:hover {
  background-color: #78CF82;
  color: #fff; }

.profile-image, .social-image {
  border-radius: 50%; }

.main-header-search input, .form-field, .form-area {
  width: 95%;
  margin-bottom: .75em;
  border-radius: 5px;
  line-height: 1.75em;
  border: 1px solid #d2d3ea;
  padding-left: .5em;
  background-color: #f5f5fa; }

.main-header-search input::placeholder, .form-field::placeholder, .form-area::placeholder, select.form-field {
  color: #aaa; }

[class^="button-"] {
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  border: none;
  height: 2.75em;
  width: 95%;
  margin-bottom: .5em; }

.widget-container-full, .widget-container-half {
  position: relative;
  width: 90vw; }
  @media (min-width: 768px) {
    .widget-container-full, .widget-container-half {
      display: block;
      margin: 0 auto; } }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.headline {
  margin: .15em; }

sup {
  font-size: .5em; }

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #8c8fca;
  color: white; }

.app-name {
  flex-grow: 1;
  padding-left: 15px; }
  .app-name-thin {
    font-weight: 100; }

.bell {
  padding-right: 15px;
  border-right: 2px solid #4c4fa5;
  position: relative; }
  .bell:after {
    display: block;
    content: " ";
    background-color: #78CF82;
    border-radius: 50%;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 0;
    right: 10px; }
  .bell-icon {
    width: 30px;
    padding-top: 5px; }
    .bell-icon-path {
      fill: currentColor; }

.profile-image {
  width: 45px;
  height: 45px;
  padding: 10px; }
.profile-name {
  padding-right: 15px; }

.nav {
  grid-area: navigation;
  display: flex;
  justify-content: center;
  background-color: #4c4fa5; }
  @media (min-width: 768px) {
    .nav {
      flex-direction: column;
      justify-content: flex-start; } }
  .nav-link {
    padding: 5px 15px;
    text-decoration: none;
    border: #4c4fa5 3px solid; }
    @media (min-width: 768px) {
      .nav-link {
        padding: 10px 5px; } }
    .nav-link.active {
      border-bottom: #78CF82 3px solid; }
      @media (min-width: 768px) {
        .nav-link.active {
          border-bottom: #4c4fa5 3px solid;
          border-left: #78CF82 3px solid; } }
    .nav-link-icon {
      width: 35px;
      opacity: .8;
      transition: opacity 0.3s; }
      .nav-link-icon:hover {
        opacity: 1.0; }

.main {
  grid-area: main;
  display: grid;
  padding-bottom: 2em; }
  @media (min-width: 768px) {
    .main {
      grid-template-columns: 50%; } }
  .main-header {
    display: flex;
    align-items: center;
    grid-column: 1 / span 2; }
    .main-header .headline {
      padding-right: 15px;
      padding-left: 15px; }
    .main-header-search {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      background-color: lightgray;
      padding: 10px;
      border-bottom-left-radius: 10px; }
      .main-header-search input {
        max-width: 250px;
        width: 80%; }
  .main section {
    padding-left: 15px;
    padding-right: 15px; }

.widget-container img {
  display: block;
  width: 100%; }
@media (min-width: 768px) {
  .widget-container-full {
    max-width: 1000px; } }
@media (min-width: 768px) {
  .widget-container-half {
    width: 42vw;
    max-width: 1000px; } }
.widget-container-social {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .widget-container-social {
      flex-direction: row;
      justify-content: space-around; } }

.traffic {
  min-height: 200px; }
  .traffic-header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    height: 75px; }
  .traffic-nav {
    list-style: none;
    padding-left: 0;
    display: flex; }
    .traffic-nav-link {
      padding: 10px 10px;
      height: 1em;
      border-radius: 20px;
      transition: background-color .3s, color .3s; }

.social-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #d2d3ea;
  background-color: #f5f5fa;
  align-items: center;
  padding: .5em;
  justify-content: space-around;
  border-radius: 5px;
  flex-grow: 1; }
  @media (min-width: 768px) {
    .social-container {
      flex-grow: 1;
      max-width: 275px; } }
  .social-container + .social-container {
    margin-top: 1em; }
    @media (min-width: 768px) {
      .social-container + .social-container {
        margin-top: initial; } }
.social-image {
  display: inline-block;
  background-color: #8c8fca;
  padding: 1em; }
  .social-image-svg {
    display: block;
    width: 55px; }
  .social-image-path {
    fill: currentColor;
    color: white; }
.social-text p {
  color: #8c8fca;
  font-weight: bold;
  margin: 0; }
.social-text p + p {
  color: #555;
  font-weight: lighter;
  font-size: 2.5em; }

.members-container {
  display: flex; }
  .members-container + .members-container {
    border-top: 1px solid #d2d3ea; }
  .members-container p {
    margin-bottom: 0; }
    .members-container p + p {
      margin-top: 0; }
  .members-container a {
    text-decoration: none; }
.members-text {
  flex-grow: 1; }

.settings-toggle {
  display: flex;
  align-items: center;
  margin-bottom: 2em; }
  .settings-toggle label:first-child {
    min-width: 200px; }
@media (min-width: 768px) {
  .settings button {
    width: 45%; } }
@media (min-width: 768px) {
  .settings button + button {
    margin-left: 4%; } }

.form-area {
  height: 6em; }

select.form-field {
  height: 1.9em; }

[class$="primary"] {
  background-color: #8c8fca; }

[class$="disabled"] {
  background-color: #aaa; }

.alert {
  grid-column: 1 / span 2; }
  .alert-banner {
    display: flex;
    justify-content: space-between;
    background-color: #8c8fca;
    color: #fff;
    padding: 0 .5em;
    margin: 1.25em 2% 0;
    border-radius: 5px; }
    .alert-banner-close {
      font-weight: bold; }
      .alert-banner-close:hover {
        transition: color .4s ease-in;
        color: #51B6C8;
        cursor: pointer; }

.grid-container {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "navigation" "main"; }
  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: 55px auto;
      grid-template-areas: "header header" "navigation main"; } }

.toggle {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 2px solid #444793;
  border-radius: 3px;
  width: 60px;
  height: 1.7em;
  border-radius: 1em; }
  .toggle__slider {
    height: 1.5em;
    color: white;
    position: absolute;
    left: -35px;
    margin-left: 0px;
    background-color: #8c8fca;
    display: inline-block;
    width: 130px;
    transition: .4s margin-left;
    z-index: -1; }
  .toggle__switch {
    width: 35px;
    display: inline-block;
    text-align: center; }
    .toggle__switch--on {
      margin-left: 0px; }
    .toggle__switch--button {
      margin: 2px;
      width: 20px;
      border-radius: 50%;
      background-color: white; }
  .toggle__input {
    display: none; }
    .toggle__input:checked + .toggle__slider {
      margin-left: 30px; }

/*# sourceMappingURL=index.css.map */
