%widgets {
  display:flex;
  flex-direction: column;
  min-height: 300px;
  grid-column: 1 / span 2;
}

%widgets-right {
  @extend %widgets;
  border-top: 1px solid lighten($color-primary, 20%);
  @include mq {
    grid-column: 2 / span 1;
  }
}

%widgets-left {
  @extend %widgets;
  border-top: 1px solid lighten($color-primary, 20%);
  @include mq {
    grid-column: 1 / span 1;
    border-right: 1px solid lighten($color-primary, 20%);
  }
}

%active-pill {
  background-color: $color-complementary;
  color: #fff;
}

%round-images {
  border-radius: 50%;
}
