// base colors for theme

$ship-cove		: #7477BF;
$medium-blue  : #8D7EE3;
$pastel-green : #61d78c;
$fountain-blue: #51B6C8;
$de-york		  : #78CF82;
// $pastel-green	: #85db80;
$glacier		  : #74b1bf;
$mulled-wine	: #4D4C72;
$amaranth	  	: #E61E57;