.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $color-primary;
  color: lighten($color-primary, 65%);
}

.app-name {
  flex-grow: 1;
  padding-left: 15px;
  &-thin {
    font-weight: 100;
  }
}

@keyframes shake {
  0%  { transform: rotate(-15deg); }
  16% { transform: rotate(15deg); }
  33%  { transform: rotate(-15deg); }
  50% { transform: rotate(15deg); }
  66%  { transform: rotate(-15deg); }
  83% { transform: rotate(15deg); }
}

.bell {
  padding-right: 15px;
  border-right: 2px solid darken($color-primary, 20%);
  position: relative;

  &:after {
    display: block;
    content: " ";
    background-color: darken($color-primary, 20%);
    border-radius: 50%;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 0;
    right: 10px;
  }
  &-new {
    &:after {
      font-size: 8px;
      background-color: $color-complementary;      
    }
  }
  &-icon {
    width: 30px;
    padding-top: 5px;
    &-path {
      fill: currentColor;
    }
  }
  &-shake {
    &:hover {
      animation: shake .45s;
      
    }
  }
}


.profile {
  &-image {
    @extend %round-images;
    width: 45px;
    height: 45px;
    padding: 10px;
  }

  &-name {
    padding-right: 15px;
  }
}
