.main {
  grid-area: main;
  display: grid;
  padding-bottom: 2em;
  @include mq {
    grid-template-columns: 50% ;
  }
  &-header {
    display: flex;
    align-items: center;
    grid-column: 1 / span 2;

    & .headline {
      padding-right: 15px;
      padding-left: 15px;
    }
    &-search {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      background-color: lightgray;
      padding: 10px;
      border-bottom-left-radius: 10px;
      & input {
        @extend %form-field;
        max-width: 250px;
        width: 80%;
        &::placeholder {
          @extend %form-field-placeholder;
        }
      }
    }
  }
  & section {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.widget-container {

  // for the placeholder images while developing
  & img {
    display: block;
    width: 100%;
  }

  &-full {
    @extend %chart-container;
    @include mq {
      max-width: 1000px;
    }
  }

  &-half {
    @extend %chart-container;
    @include mq {
      width: 45vw;
      max-width: 1000px;
    }
  }

  &-social {
    display: flex;
    flex-direction: column;
    // align-items: center;
    @include mq {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}


.traffic {
  @extend %widgets;
  min-height: 200px;
  &-header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    height: 75px;
  }
  &-nav {
    list-style: none;
    padding-left: 0;
    display: flex;
    &-link {
      padding: 10px 10px;
      height: 1em;
      border-radius: 20px;
      transition: background-color .3s, color .3s;
      &.active {
        @extend %active-pill;
      }
      &:hover {
        @extend %active-pill;
      }
    }
  }
}

.daily {
  @extend %widgets-left;
}

.mobile {
  @extend %widgets-right;
}

.social {
  @extend %widgets-bordered;
  

  &-container {
    display: flex;
    flex-direction: row;
    border: 1px solid lighten($color-primary, 20%);
    background-color: lighten($color-primary, 30%);
    align-items: center;
    padding: .5em;
    justify-content: space-around;
    border-radius: 5px;
    // max-width: 400px;
    flex-grow: 1;
    @include mq {
      flex-grow: 1;
      max-width: 275px;
    }

    & + & {
      margin-top: 1em;
      @include mq {
        margin-top: initial;
      }
    }
  }

  &-image {
    @extend %round-images;
    display: inline-block;
    background-color: $color-primary;
    padding: 1em;

    &-svg {
      display: block;
      width: 55px;
    }

    &-path {
      fill: currentColor;
      color: lighten($color-primary, 35%);
    }
  }

  &-text {
    & p {
      color: $color-primary;
      font-weight: bold;
      margin: 0;
    }

    & p + p {
      color: #555;
      font-weight: lighter;
      font-size: 2.5em;
    }
  }
}

.members {
  @extend %widgets-left;

  &-container {
    display: flex;

    & + & {
      border-top: 1px solid lighten($color-primary, 20%);
    }
    p {
      margin-bottom: 0;

      &+p {
        margin-top: 0;
      }
    }

    a {
      text-decoration: none;
    }
  }

  &-text {
    flex-grow: 1;
  }

}

.activity {
  @extend %widgets-right;
}

.message {
  @extend %widgets-left;
}

.settings {
  @extend %widgets-right;

  &-toggle {
    display: flex;
    align-items: center;
    margin-bottom: 2em;

    label:first-child {
      min-width: 200px;
    }
  }

  button {
    @include mq {
      width: 45%;
    }

    & + button {
      @include mq {
        margin-left: 4%;
      }
    }
  }

}

.form {
  &-field {
    @extend %form-field;
    &::placeholder{
      @extend %form-field-placeholder;
    }
  }
  &-area {
    @extend %form-field;
    height: 6em;
    &::placeholder{
      @extend %form-field-placeholder;
    }
  }
}

select.form-field {
  @extend %form-field-placeholder;
  height: 1.9em;
}

[class^="button-"] {
  @extend %button;
}

[class$="primary"] {
  background-color: $color-primary;
}

[class$="disabled"] {
  background-color: #aaa;
}